.card {
    background-color: transparent;
    perspective: 1000px;
}

/*
.card.move {
    transform: translate(350px, 0);
    transition: all 0.6s linear;
}*/

.card-inner {
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.hover .card-inner {
    transform: rotateY(180deg);
}

.svg-img {
    background-size: contain;
    background-repeat: no-repeat;
}

.card-front, .card-back {
    position: absolute;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}
