.card-container {
    position: absolute;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
};

.card-container__card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
};

.card-container__card > .front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
};

.card-container__card > .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
};

.flipCard {
    transform: rotateY(180deg);
}